{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.Title, 'Titre de l\'album', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Title, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Nevermind'}}) }}
                {{ form_errors(form.Title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.GroupName, 'Nom du groupe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.GroupName, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Nirvana'}}) }}
                {{ form_errors(form.GroupName) }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.Style, 'Style musical', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Style, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Grunge'}}) }}
                {{ form_errors(form.Style) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.Year, 'Année de sortie', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Year, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 1991'}}) }}
                {{ form_errors(form.Year) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.Medium, 'Support', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Medium, {'attr': {'class': 'form-control', 'placeholder': 'Ex: CD, Vinyle, Cassette'}}) }}
                {{ form_errors(form.Medium) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.Owner, 'Propriétaire', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Owner, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Owner) }}
    </div>

    <div class="form-group">
        {{ form_label(form.Borrower, 'Emprunteur (optionnel)', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Borrower, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Borrower) }}
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_media_index') }}" class="btn btn-secondary">Annuler</a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
