{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>GroupName</th>
                <th>Style</th>
                <th>Year</th>
                <th>Medium</th>
                <th>Propriétaire</th>
                <th>Emprunteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.Title }}</td>
                <td>{{ medium.GroupName }}</td>
                <td>{{ medium.Style }}</td>
                <td>{{ medium.Year }}</td>
                <td>{{ medium.Medium }}</td>
                <td>{{ medium.Owner.FirstName }} {{ medium.Owner.LastName }}</td>
                <td>
                    {% if medium.Borrower %}
                        <span class="badge bg-warning">{{ medium.Borrower.FirstName }} {{ medium.Borrower.LastName }}</span>
                    {% else %}
                        <span class="badge bg-success">Disponible</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_media_show', {'id': medium.id}) }}" class="btn btn-sm btn-outline-primary">Voir</a>
                    <a href="{{ path('app_media_edit', {'id': medium.id}) }}" class="btn btn-sm btn-outline-warning">Modifier</a>
                    <a href="{{ path('app_media_borrow', {'id': medium.id}) }}" class="btn btn-sm btn-outline-info">
                        {% if medium.Borrower %}
                            Gérer
                        {% else %}
                            Emprunter
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_media_new') }}" class="btn btn-primary">Créer un nouveau média</a>
{% endblock %}
