{% extends 'base.html.twig' %}

{% block title %}Hells Hardrock - {{ medium.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page-title">🎵 {{ medium.title }}</h1>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Titre</th>
                        <td>{{ medium.title }}</td>
                    </tr>
                    <tr>
                        <th>Groupe</th>
                        <td>{{ medium.groupName }}</td>
                    </tr>
                    <tr>
                        <th>Style</th>
                        <td>{{ medium.style }}</td>
                    </tr>
                    <tr>
                        <th>Année</th>
                        <td>{{ medium.year }}</td>
                    </tr>
                    <tr>
                        <th>Support</th>
                        <td>{{ medium.medium }}</td>
                    </tr>
                    <tr>
                        <th>Propriétaire</th>
                        <td>{{ medium.owner ? medium.owner.firstName ~ ' ' ~ medium.owner.lastName : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th>Emprunteur</th>
                        <td>{{ medium.borrower ? medium.borrower.firstName ~ ' ' ~ medium.borrower.lastName : 'Disponible' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-3">
        <a href="{{ path('app_media_edit', {'id': medium.id}) }}" class="btn btn-warning">Modifier</a>
        <a href="{{ path('app_media_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
{% endblock %}